html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  /* overflow: hidden;
  background:url(../images/mbr-1623x1080.jpg) no-repeat;
  background-size: 100% 100%; */
}
.background{
  overflow: hidden;
  background:url(../images/background.png) no-repeat;
  background-size: 100% 100%;
  position:fixed;
  width:100%;
  height:100%;
  /* background-color:#222; */
  /* opacity: 0.5; */
}
.chat_group {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 40%;
  /* background: rgb(15,118,153); */
  background: #f5f5f5;
  margin: 0 auto;
  padding: 60px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  height: -webkit-calc( 100% - 120px );
  height: -moz-calc( 100% - 120px );
  height: calc( 100% - 120px );
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
}
.top{
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
  /* background: rgb(15,118,153); */
  background: #f5f5f5;
  position: fixed;
  top: 0px;
  width: 40%;
  height: 50px;
  z-index: 20;
  border-bottom: solid rgb(6, 41, 53) 2px;
}
.btn_back{
  display: block;
  width: 30px;
  height: 30px;
  margin: 13px;
  background-image: url(../images/btn_back.png);
  background-size: 30px auto;
  background-position: center center;
}
.bottom {
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  box-sizing: border-box;
  position: absolute;
  right:0;
  bottom:0;
  width: 40%;
  /* background: rgb(15,118,153); */
  background: #f5f5f5;
  margin: auto;
  padding: 20px 0;
  height: 120px;
}
.chat_bx {
  position: relative;
  text-align: left;
  padding: 0 100px 0 70px;
}
.chat_bx + .chat_bx {
  margin-top: 20px;
}
.img_bx {
  position: absolute;
  top: 0;
  left: 10px;
}
.img_bx img {
  border-radius: 50%;
}
.txt {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 10px;
  background-color: #fff;
  word-wrap: break-word;
  word-break: keep-all;
}
.txt:before {
  position: absolute;
  top: 0;
  left: -12px;
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: '';
}
.time {
  position: absolute;
  right: -74px;
  bottom: 0;
  color: #444;
  font-size: 13px;
}
.chat_bx.me {
  text-align: right;
  padding: 0 20px 0 100px;
}
.chat_bx.me .txt {
  /* background-color: rgb(240, 68, 68); */
  background-color: #aaa;
}
.chat_bx.me .txt:before {
  left: initial;
  right: -12px;
  /* border-top: 6px solid rgb(240, 68, 68);
  border-right: 6px solid transparent;
  border-left: 6px solid rgb(240, 68, 68);
  border-bottom: 6px solid transparent; */
  border-top: 6px solid #aaa;
  border-right: 6px solid transparent;
  border-left: 6px solid #aaa;
  border-bottom: 6px solid transparent;
}
.chat_bx.me .time {
  right: initial;
  left: -74px;
}
.btn_mic {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 20px;
  color: transparent;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: url(../images/mic.png) no-repeat;
  background-size: 100% 100%;
}
.btn_mic:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 20px;
  color: transparent;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: url(../images/mic_hover.png) no-repeat;
  background-size: 100% 100%;
}
.chat-box{
  margin-top: 60px;
}
.white{
  color: #fff;
}
@media screen and (max-width: 1024px)
{
  .chat_group {
    /* border-radius: 0px; */
    width: 100%;
  }
  .top{
    /* border-radius: 0px; */
    width: 100%;
  }
  .bottom {
    /* border-radius: 0px; */
    width: 100%;
  }
}
.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: rgba(245, 245, 245, 0.4);
  transition: opacity 200ms ease-in-out;
  margin: 0;
}
.overlay button {
  margin: 5px;
}
.overlay:hover {
  opacity: 1;
}
.news-container{
  display: none;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}
.news{
  margin: 0;
  width: 100%;
  height: 100%;
}
.btn-overlay{
  color: #3f0561;
}




.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 16px;
}
.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #bbb;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#previous_message {
    /*display: none;*/
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

